span {
	border: solid 1px red;
	font-family: serif;
	/*margin: top right bottom left;*/
	margin: 5px 10px 3px 15px;
	padding: 5px 10px 3px 50px;
}

#rgba {

	color: rgba(255,0,255,0);
}

body {
	/*background-image: url('images/bg-image.jpg');*/
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#brd-radius {
	border: solid 1px black;
	border-radius: 5px;
}

#left-header {
	float: left;
}

#right-header {
	float: right;
}

#header {
	overflow: none;
}