<h1>AJAX</h1>

<input type="text" id="num" placeholder="Enter Number"/>

<button onclick="ajaxCall()">Call Ajax</button>

<div id="ajax-result"></div>

<script>

function ajaxCall() {

	var num = document.getElementById("num").value;

	var url = `http://localhost/tcet/getSquare.php?num=${num}`;


	//fetch()
	
	fetch(url)
		.then(response => response.json())
		.then(data => {
			console.log(data)
			console.log(data.square);
			console.log(data.cube);
			
			var result = `Square of ${num} is ${data.square}`;
			result = result + `<br>Cube of ${num} is ${data.cube}`;
			
			console.log(result);
			document.getElementById("ajax-result").innerHTML = result;
			
		});
}
</script>