Number: <input type="text" id="num" onkeyup="getCube()"/>
<br>

<div id = "result">
</div>

<input type="text" id="textid" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function getCube() {
	
		//var x = document.getElementById("num").value;
		var x = $("#num").val();
		
		var cube = x * x * x;
		
		console.log(cube);
		
		//document.getElementById("result").innerHTML = cube;
		$("#result").html(cube);
		
		//document.getElementById("textid").value = x * x;
		$("#textid").val(x * x);
	}
</script>